.worldfest{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;

}

.schedule{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2 {
  color: white;
}

.events{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.food{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item1 {
  height:200px;
  width: 200px;
  margin-left: 10px;
  margin-right:10px;
  margin-bottom: 10px;
  margin-top: 20px;
  border:solid #fff;  
  border-width:10px 10px 50px 10px; 
  
}

.talent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.workshops{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.map{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body 
{
height: 125vh;
margin-top: 80px;
padding: 30px;
background-size: cover;
font-family: monospace;
background: rgba(0, 128, 0, 0.3)

}
header {
position: fixed;
left: 0;
right: 0;
top: 0px;
height: 80px;
display: flex;
align-items: center;
font-size: 20px;
}
header * {
display: inline;
}
header li {
margin: 20px;
}
header li a {
color: #ffffff;
text-decoration: none;
}

body{
  background: rgba(0, 121, 198, 1)
}