body 
{
height: 125vh;
margin-top: 80px;
padding: 30px;
background-size: cover;
font-family: sans-serif;
background: rgba(0, 121, 198, 1)
}

header {
background: #ABDEFF;
position: fixed;
left: 0;
right: 0;
top: 0px;
height: 80px;
display: flex;
align-items: center;
font-size: 20px;
}
header * {
display: inline;
}
header li {
margin: 20px;
}
header li a {
color: #000000;
text-decoration: none;
font-weight: 600;

}
.welcome{
  color: #ffffff;
  margin-top:-5px;
}

.logo{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

button{

  display:inline-block;
  padding:0.5rem 1rem;
  margin-bottom:1rem;
  background: #ABDEFF;
  border-color: #ABDEFF;
  border-radius:5px;
  border-width: 5px;
  border-style: solid;
  cursor:pointer;
  font-family: sans-serif;
  font-weight: 20;
  font-size: 20px;
  margin: 10px;
  
}

button:hover {
  background-color: #ABDEFF; /* Green */
  color: #000000;
  border-color: #FFFFFF;
   transform: scale(1.05);

}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.date{
  display: flex;
  justify-content: center;
  align-items: center;
}
.time{
  display: flex;
  justify-content: center;
  align-items: center;
}